.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    cursor: pointer;
    line-height: 24px;
    touch-action: manipulation;
    word-break: break-word;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: all .3s;
    font-weight: 700;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1);
    }
}

.button-container.green {
    background-color: #00AB66;
    &:hover{
        background-color: #4AC191;
    }
}

.button-container.red {
    background-color: #B00020;

    &:hover{
        background-color: #E63F5D;
    }
}

.button-container.black {
    background-color: black;

    &:hover{
        background-color: #7F7E7E;
    }
}