.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    cursor: pointer;
    line-height: 24px;
    touch-action: manipulation;
    word-break: break-word;
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    transition: all .3s;
    font-weight: 700;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1);
    }
}

.button-container{
    background-color: #6201ed;
}