.main-container {
    display: flex;
    flex-direction: column;
    width: 1144px;
    height: 100%;
    

    .heading-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    
    .amount-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #6201ed;
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 2rem;

        .amount{
            font-size: 40px;
        }
    }

    .list-container {
        background-color: #222437;
        width: 100%;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1rem;
        flex: 1;

        .list-titles {
            display: flex;
            margin-bottom: 5px solid green;
            padding-left: 1rem;

            .title {
                padding: 1rem;
                width: 15rem;
                text-align: start;
            }

        }

        .list-items{
            display: flex;
            flex-direction: column;
        }
    }
}