.list-item-container {
    display: flex;
    transition: background-color .3s;
    
    &:hover{
        background-color: #3C3E52;
    }

    .name {
        padding: 1rem;
        width: 15rem;
        text-align: start;
    }

    .amount {
        padding: 1rem;
        width: 15rem;
        text-align: start;
    }

    .buttons-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}